.other-pages{
  position: absolute;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/edu-bg.webp);
  backdrop-filter: brightness(30%);
  background-size: cover;
  background-position: center;
}
.other-nav{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: rgba(255, 250, 250, 0.521);
  border: 2px solid black;
  h2{
    font-family: lexend, sans-serif;
    font-size: 32px;
    color: black;
  }
}
.edu-main{
  margin: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  backdrop-filter: blur(5px);
  border: 2px solid black;
  height: 85vh;
}
.edu-left-container{
  display: grid;
  grid-template-columns: 1fr;
  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lexend, sans-serif;
    font-size: 36px;
    -webkit-text-stroke: black 1px;
    background-color: rgba(255, 255, 255, 0.2);
    border:  1px solid black;
  }
  h3:hover{
    border: 2px solid #bd0000;
  }
}
.active-year{
  color: #bd0000;
}
.edu-right-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}
.card{
  width: 90%;
  min-height: 150px;
  margin: 10px 0;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 10px 30px;
  ::-webkit-scrollbar{
    display: none;
  }
  .cardyear{
    font-family: lexend, sans-serif;
    text-align: right;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
  }
  h3{
    font-family: lexend, sans-serif;
    font-size: 28px;
    color: black;
    margin-bottom: 5px;
  }
  h4{
    font-family: lexend, sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
  }
  p{
    font-family: lexend, sans-serif;
    font-size: 16px;
    color: hsla(0, 0%, 0%, 0.7);
    text-align: justify;
    margin-top: 5px;
  }
}