@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  overflow-x: hidden;
}

.home-container {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/images/bg.webp);
  background-size: cover;
  background-position: center;
}

.top-nav {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: center;
}

.social-links {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  background-color: #252422;
  background-color: #bd0000;
  border-radius: 50%;
  transition: 300ms;
  a{
    width: 10vw;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg{
    overflow: visible;
    height: 24px;
    width: 24px;
    fill: snow;
  }
  a:hover svg{
    scale: 1.1;
    height: 28px;
    transition: 100ms;
  }
}
.mail:hover{
  fill: #f55a5a;
}
.X:hover{
  fill: silver;
}
.linkedin:hover{
  fill: rgb(12, 133, 231);
}
.github:hover{
  fill: silver;
}
.instagram:hover{
  fill: #d32047;
}
.top-nav:hover .social-links{
  width: 50vw;
  background-color: #252422;
  border-radius: 10px;
  transition: 300ms;
  opacity: 1;
  a{
    opacity: 1;
    transition: 400ms;
  }
}

.main-content {
  position: absolute;
  top: 10%;
  height: 90%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  h1{
    font-size: 72px;
    font-family: lexend, sans-serif;
    color: #252422;
    transition: opacity 500ms ease-in-out;
  }
  p{
    font-size: 24px;
    font-family: Goldman, cursive;
    color: #EB5E28;
    transition: opacity 500ms ease-in-out;
  }
}

.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}

.hero-section {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.bottom-nav {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  svg{
    fill: #252422;
    width: 24px;
    height: 24px;
  }
  a:hover svg{
    fill: #bd0000;
  }
  a{
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(50%);
    transition: 100ms;
    span{
      margin-left: 8px;
      font-size: 18px;
      font-family: Goldman, cursive;
      color: #252422;
      max-width: 0px;
      overflow: hidden;
      transition: max-width 300ms ease-in-out;
    }
    }
  }
  a:hover{
      span{
        max-width: 150px;
        transition: max-width 300ms ease-in-out;
      }
  }    
.bottom-nav:hover a{
  opacity: 1;
  transform: translateY(0);
  transition: 100ms;
}